/* General */

body {
  background-color: lightgrey !important;
  padding: 30px;
}

/* Form and Input */

.form {
  margin: 20px;
}

.input {
  background-color: lightgrey;
}

/* Button */

.button {
  margin: 20px;
  background-color: rgb(146, 154, 213) !important;
  color: black !important;
  font-size: 24px !important;
}

/* Cards */

.cardLayout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 4rem;
 }

 .card {
  margin: 20px;
  padding: 20px;
  width: 30em !important;
  text-align: center;
  list-style-position: inside;
  box-shadow: 0 3px 23px rgba(0, 0, 0, 0.7)  ;
  -webkit-box-shadow: 0 3px 23px rgba(0, 0, 0, 0.7)  ;
  -moz-box-shadow: 0 3px 23px rgba(0, 0, 0, 0.7)  ;
 }

 .cardImg {
  max-height: auto;
  max-width: 30em;
  padding-bottom: 2rem;
  cursor: pointer;
 }

 .error {
  background-color: lightcoral !important;
 }
